- if signed_in?
  - provide(:title, @user.name)

  = render 'shared/tab_navigator'

  = render 'shared/emails'

  - if current_user.first_login_at && current_user.first_login_at > 15.seconds.ago
    = render 'shared/first_time_tutorial'

- else
  .row
    .span8
      .hero-unit
        %h2 Welcome to Worth Reading
        %p
          When you send the same message to several people would you like to:
          %ul
            %li send individual messages to each of them?
            %li discover when they open the message?
            %li discover if they like the message? 
          Then sign up for WorthReading which can give you these features
          %br/
        %p.center
          = link_to 'Sign up', new_user_path, class: 'btn btn-large btn-primary'
    .span3
      %h2 Top Ten People On Worth Reading
      %table.table
        %tr
          %th Name
          %th Likes

        - @users.first(10).each do |user|
          - if current_user != user
            %tr
              %td= user.name
              %td= user.likes
