<h1>Emails by Sender</h1>

<%= link_to 'Events', "wr_logs" %>

<table cellpadding="5">
  <tr>
    <th>Sender</th>
    <th>Message Count</th>
    <th>% opened</th>
    <th>% liked</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @percents.each do |percent| %>
  <tr>
    <td><%= percent[:name] %></td>
    <td><%= percent[:sender_count] %></td>
    <td><%= percent[:opened_percent].round %></td>
    <td><%= percent[:liked_percent].round %></td>
    <td></td>
  </tr>
  <% end %>
</table>

