%p
  %b Action:
  = @wr_log.action
%p
  %b Sender:
  = @wr_log.sender_id
%p
  %b Receiver:
  = @wr_log.receiver_id
%p
  %b Email:
  = @wr_log.email_id
%p
  %b Email part:
  = @wr_log.email_part
%p
  %b Responded:
  = @wr_log.responded
