!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  -if @message[:more]
    .msg-body
      %p= raw(@message[:body])
    .more-button
      %p
        = link_to "Next Page", wr_log_path(@message[:more])
  -elsif @message[:forward]
    .msg-body
      %p= raw(@message[:body])
    .worth-reading-link
      %p
        = link_to "Forward this Email to Friends", wr_log_url(@message[:forward])
        = link_to "Unsubscribe", email_unsubscribe_relationship_url(@message[:unsubscribe])

  -else
    %p Sorry, there has been an error.
    %br/
    %p Just close this window and we'll pretend this never happened. :-)
