!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  .msg-body
    %p= raw(@message[:body])
  -if @message[:more]
    .more-button
      %p
        = link_to "More...", wr_log_path(@message[:more])
  -elsif @message[:worth_reading]
    .worth-reading-link
      %p
        = link_to image_tag(@message[:image], alt: "Worth Reading", 
          title: "Worth Reading", 
          width: "173px", 
          height: "56px"),
          wr_log_path(@message[:worth_reading])
    .whats-this-link
      = link_to "What's this?", whats_this_path(@message[:whats_this] )

    .unsubscribe-link
      %p
        = link_to "Unsubscribe", email_unsubscribe_relationship_url(@message[:unsubscribe])

    - if @message[:signature]
      .signature
        %p= raw(@message[:signature])
  -else
    %h2
      Thank you for appreciating my message! It will encourage me to send you similar messages.
      - unless @message[:registered_user]
        %p I am using a service called #{link_to "Worth Reading", signup_path } to help me know who likes the messages that I send.
      %br/
      %p You can close this window now.
