!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/

  %body
    .msg-body
    -if @part
      %p= @part.html_safe
      .more-button
        %p
          = link_to "See More", @see_more_url
    -else
      %p= @body.html_safe
      .worth-reading-link
        %p
          = link_to image_tag(@worth_img_url, alt: "Worth Reading", 
            title: "Worth Reading", 
            width: "173px", 
            height: "56px"),
            @worth_reading_url
        %p
          = link_to "What's this?", @whats_this_url 
 
        %p
          = link_to "Unsubscribe", @unsubscribe_url

        - if @signature
          .signature
            %p= @signature.html_safe

    .web-beacon
      %p{ style: "visibility: hidden;", id: "web-beacon" }
        = image_tag(@beacon_url, alt: "")
