!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    -if @message[:more]
      .msg-body
        -if @message[:body]
          %p= @message[:body].html_safe
      .more-button
        %p
          = link_to "Next Page", wr_log_url(@message[:more])
    -else
      .msg-body
        -if @message[:body]
          %p= @message[:body].html_safe
      .worth-reading-link
        %p
          = link_to "Forward this Email to Friends", wr_log_url(@message[:forward])
          = link_to "Unsubscribe", email_unsubscribe_relationship_url(@message[:unsubscribe])


    .web-beacon
      %p{ style: "visibility: hidden;", id: "web-beacon" }
        = image_tag(@beacon_url, alt: "")
