!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/

  %body
    %p
      = @body

    %p
      = link_to "Worth Reading", @worth_reading_url

    %p{ style: "visibility: hidden;", id: "web-beacon" }
      - if Rails.env.production?
        = image_tag("https://evening-fog-9503.herokuapp.com/wr_logs/#{@wr_log.id}/msg_opened")
      - else
        = image_tag("http://localhost:3000/wr_logs/#{@wr_log.id}/msg_opened")
