!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    -if @message[:more]
      .msg-body
        -if @message[:body]
          %p= @message[:body].html_safe
      .more-button
        %p
          = link_to "Next Page", wr_log_url(@message[:more])
    -else
      .msg-body
        -if @message[:body]
          %p= @message[:body].html_safe
      .worth-reading-link
        %p
          = link_to image_tag(@message[:image], alt: "Worth Reading",
            title: "Worth Reading",
            width: "173px",
            height: "56px"),
            wr_log_url(@message[:worth_reading])
          = link_to "What's this?", whats_this_url(@message[:whats_this])

      .unsubscribe-link
        %p
          = link_to "Unsubscribe", email_unsubscribe_relationship_url(@message[:unsubscribe])


    .web-beacon
      %p{ style: "visibility: hidden;", id: "web-beacon" }
        = image_tag(@beacon_url, alt: "")
