!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  -if @more
    -if @part
      %body
        .msg-body
        %p
          = @part.html_safe

        .more-button
          %p
            = link_to "See More", @see_more_url
    -else
      %body
        .msg-body
        %p= @body.html_safe
        .worth-reading-link
          %p
            = link_to "Forward this Email to Friends", @worth_reading_url
            = link_to "Unsubscribe", @unsubscribe_url

    .web-beacon
      %p{ style: "visibility: hidden;", id: "web-beacon" }
        = image_tag(@beacon_url, alt: "")
  -else
    %h2
      Thank you for appreciating my message! It will encourage me to send you similar messages.
    - unless @receiver.confirmed?
      %p I am using a service called #{link_to "Worth Reading", signup_path } to help me know who likes the messages that I send.
      %br/
      %p You can close this window now.


