- provide(:title, @user.name)
.row
  %br/
  %br/

.row
  %aside.span4.offset1
    %h3= @user.name
    - if current_user.admin?
      %h4
        = @user.email
        - if !@user.confirmed?
          <br>Not confirmed
    = gravatar_for @user
  %aside.span4
    %br/
    - if !current_user.subscribed_by?(@user)
      = button_to 'Add this person to my subscribers', 
        subscribe_to_me_user_path(@user),
        class: "btn btn-primary"
    - else 
      = button_to  'Remove this person from my subscribers',
        unsubscribe_to_me_user_path(@user),
        class: "btn btn-primary",
        method: :delete
    - if !@user.subscribed_by?(current_user)
      = button_to 'Subscribe to this person', 
        subscribe_me_user_path(@user),
        class: "btn btn-primary"
    - else
      = button_to  'Unsubscribe to this person',
        unsubscribe_me_user_path(@user),
        class: "btn btn-primary",
        method: :delete
