.row
  .span6
    = render 'shared/tab_navigator'
    = form_tag('/add_sources', class: 'form-horizontal') do 
      .input-append
        %textarea.span4{ :name => "email_addresses",
                       :size => "18", 
                       :type => "text", 
                       :placeholder => "Enter email addresses.",
                       :id => "add_sources" }
        %button.btn.btn-large{type: "submit"} Add 
    - if !@subscribed_list.empty?
      %table.table.table-condensed
        %tr
          %th Name
          %th Sent
          %th Opened
          %th Liked
          %th
        - @subscribed_list.each do |item|
          %tr
            %td= link_to item[:subscribee].name, user_path(item[:subscribee])
            %td= item[:sent]
            %td= item[:opened]
            %td= item[:liked]
            %td= link_to 'Delete', 
              relationship_path(id: @user.reverse_relationships.find_by_subscribed_id(item[:id]), :subscribed => "1"),
              method: :delete,
              confirm: "Are you sure you want to delete #{item[:email]}?"

      = will_paginate @subscribed_to
    - else
      .hero-unit
        %p 
          You are not subscribed to anyone. You can check out the users list
          and find some users you can subscribe to. To access the users list
          you can click on the Users link on the navigation bar at the top-right.
  .span6
    =render 'shared/best_recent_messages'
.row
