= render 'shared/tab_navigator'

.row
  .span12
  %h1 Who I'm Subscribed To
  %br/
.row
  %table.table.table-condensed
    %tr
      %th Name
      %th Email 
      %th Sent
      %th Opened
      %th Liked
      %th Delete
    - @subscribed_list.each do |item|
      %tr
        %td= item[:name]
        %td= item[:email]
        %td= item[:sent]
        %td= item[:opened]
        %td= item[:liked]
        %td= link_to 'Delete', 
          relationship_path(id: @user.reverse_relationships.find_by_subscribed_id(item[:id]), :subscribed => "1"),
          method: :delete,
          confirm: "Are you sure you want to delete #{item[:email]}?"

      = will_paginate @subscribed_to

- else
  .row
    .hero-unit
      %p 
        You are not a subscribed to anyone. You can check out the users list
        and find some users you can subscribe to. To access the users list
        you can click on the Users link on the navigation bar at the top-right.
