.row
  %h1 Emails
.row
  .span12
    - if !@emails.empty?
      %br/
      %table.table.table-condensed
        %tr
          %th When
          %th Subject
          %th Sent
          %th Opened
          %th Liked
          %th Show
        - @emails.each do |email|
          %tr
            %td= email.created_at.to_formatted_s(:short)
            %td= email.subject
            %td= link_to WrLog.where("email_id = #{email.id}").count, recipient_list_email_path(email.id)
            %td= WrLog.where("opened IS NOT NULL and email_id = #{email.id}").count
            %td= WrLog.where("worth_reading IS NOT NULL and email_id = #{email.id}").count
            %td= link_to 'Show', user_email_path(@user, email)
      = will_paginate(@emails)
    - else
      .hero-unit 
        %p 
          No emails sent. Start by adding subscribers to you subscriber list. 
          Click on the subscriber list tab above and after adding some subscribers
          to your list, you can send an email to all of them 
          via subcribers@worth-reading.org.
        %p
          Or send an email intended to johndoe@email.com to johndoe+email.com@worthreading.org
