= render 'shared/tab_navigator'
- if !@lines.empty?
  %table.table.table-condensed
    %tr
      %th When
      %th From
      %th Subject
    - @lines.each do |line|
      %tr
        %td= line[:time]
        %td= link_to line[:from].name, user_path(line[:from])
        %td= link_to Email.find(line[:subject]).subject.shorten, user_email_path(@user, line[:subject])
  = will_paginate @lines, inner_window: 1
- else
  .hero-unit 
    %p 
      No emails received. Start by adding sources to you source list. 
      Click on the source list tab above.
