= render 'shared/tab_navigator'
.row
  - if !@emails.empty?
    %br/
    %table.table.table-condensed
      %tr
        %th When
        %th Subject
        %th Sent
        %th Opened
        %th Liked
      - @emails.each do |email|
        %tr
          %td= email.created_at.to_formatted_s(:short)
          %td= link_to email.subject.shorten, user_email_path(@user, email)
          %td= link_to WrLog.where("email_id = #{email.id}").count, recipient_list_email_path(email.id)
          %td= WrLog.where("opened IS NOT NULL and email_id = #{email.id}").count
          %td= WrLog.where("worth_reading IS NOT NULL and email_id = #{email.id}").count
    = will_paginate(@emails)
  - else
    .hero-unit 
      %p 
        No emails sent. Add to your subscriber list and send an email to subcribers@worth-reading.org or to
        johndoe+email.com@worthreading.org to reach johndoe@email.com
