%h3 Subscribers
%br/
%p
  = form_tag('/relationships', class: 'form-horizontal') do |f|
    .input-append
      %input#appendedInputButton.span2{ :name => "email",
                                        :size => "18", 
                                        :type => "text", 
                                        :placeholder => "Enter email"}
      %button.btn{type: "submit"} Add 
- if !@user.subscribers.empty?
  %table.table.table-condensed
    %tr
      %th Name
      %th Sent
      %th Opened
      %th Liked
    - @user.subscribers.each do |subscriber|
      %tr
        %td= subscriber.name 
        %td= WrLog.where("sender_id = #{@user.id} and receiver_id = #{subscriber.id}").count
        %td= WrLog.where("sender_id = #{@user.id} and receiver_id = #{subscriber.id} and opened").count
        %td= WrLog.where("sender_id = #{@user.id} and receiver_id = #{subscriber.id} and worth_reading").count
        %td= link_to 'Delete'  #
- else
  Add a subscriber
