%h3 Subscribers
%br/
%p
  = form_tag('/relationships', class: 'form-horizontal') do |f|
    .input-append
      %input#appendedInputButton.span2{ :name => "email_addresses",
                                        :size => "18", 
                                        :type => "text", 
                                        :placeholder => "Enter email addresses"}
      %button.btn{type: "submit"} Add 
- if !@user.subscribers.empty?
  %table.table.table-condensed
    %tr
      %th Name
      %th Email 
      %th Sent
      %th Opened
      %th Liked
    - @subscriber_list.each do |item|
      %tr
        %td= item[:name]
        %td= item[:sent]
        %td= item[:opened]
        %td= item[:liked]
        %td= link_to 'Delete' #
