.row
  %p
  = form_tag('/relationships', class: 'form-horizontal') do 
    .input-append
      %textarea.span4{ :name => "email_addresses",
                       :size => "18", 
                       :type => "text", 
                       :placeholder => "Enter email addresses.",
                       :id => "add_subscribers" }
      %button.btn.btn-large{type: "submit"} Add 

  %p 
    Address your emails to subscribers@worth-reading.org

.row
  - if !@user.subscribers.empty?
    %table.table.table-condensed
      %tr
        %th Name
        %th Sent
        %th Opened
        %th Liked
        %th
      - @subscriber_list.each do |item|
        %tr
          %td= link_to item[:subscriber].name, user_path(item[:subscriber])
          %td= item[:sent]
          %td= item[:opened]
          %td= item[:liked]
          %td= link_to 'Delete', 
            relationship_path(@user.relationships.find_by_subscriber_id(item[:id])),
            method: :delete,
            confirm: "Are you sure you want to delete #{item[:email]}?"
    = will_paginate @subscribers, inner_window: 1
