.row
  .span12
    %h1 Send link to your subscribers
    %br/

.row
  .span6.offset3
    = form_tag('/chrome_extension') do 
      %b To:
      %br/
      = text_field_tag 'to', @user.subscribers.map{|id| User.find(id)}.map{|user| '"' + user.name + '"<' + user.email + '>'}.join{', '}, class: "span6"
      %br/

      %b Subject of the email sent:
      %br/
      = text_field_tag 'subject', @subject, class: "span6"
      %br/

      %b Body of the email sent to your subscribers:
      %br/
      = text_area_tag 'body', "#{@text}\n\n#{@link}\n\n#{@user.name}", class: "span6", rows: "15"
      %br/
      = submit_tag 'Send email to subscribers', class: "btn btn-primary"
