.row
  .span12
    %h1 Send link to your subscribers
    %br/

.row
  .span6.offset3
    = form_tag('/chrome_extension') do 
      %b Subject of the email sent:
      %br/
      = text_field_tag 'subject', nil, class: "span6", placeholder: "Subject"
      %br/

      %b Body of the email sent to your subscribers:
      %br/
      = text_area_tag 'body', "#{@link}\n\n#{@user.name}", class: "span6", rows: "15"
      %br/
      = submit_tag 'Send email to subscribers', class: "btn btn-primary"
