.row
  .span12
    %h1 Compose
    %br/

.row
  .span6.offset3
    = form_tag('/chrome_extension') do
      %b To:
      %br/
      = text_area_tag 'to', @to_list, class: "span6", rows: "1"
      %br/

      %b Subject:
      %br/
      = text_field_tag 'subject', @subject, class: "span6"
      %br/

      %b Body:
      %br/
      = text_area_tag 'body', @body, class: "span6", rows: "10"
      %br/
      = submit_tag 'Send', class: "btn btn-primary"
