.row
  %h1 Emails sent to #{@receiver.email}
  %br/

.row
  %table.table.table-condensed
    %tr
      %th Subject
      %th Sent
      %th Opened
      %th Forwarded
      %th See Email
    - @wr_logs.each do |log|
      %tr
        %td= log.email.subject
        %td= log.emailed.to_formatted_s(:short)
        %td= log.opened ? log.opened.to_formatted_s(:short) : "Undetermined"
        %td= log.forwarded ? log.forwarded.to_formatted_s(:short) : "No response"
        %td= link_to 'Show', user_email_path(@user, log.email)

.row
  = will_paginate @wr_logs
