.row
  %h1 #{@email.subject.shorten(60)}
  %br/

.row
  %table.table.table-condensed
    %tr
      %th Recipient
      %th Opened
      -if @email.parts && @email.parts.length > 1
        %th Last Read
      -if @wr_logs.first && @wr_logs.first.url
        %th Followed url
      %th Forwarded
    - @wr_logs.each do |log|
      %tr
        %td= link_to log.receiver.name, user_path(log.receiver)
        %td= log.opened ? log.opened.to_formatted_s(:short) : ""
        -if @email.parts && @email.parts.length > 1
          %td= log.email_part.to_s
        -if @wr_logs.first && @wr_logs.first.url
          %td= log.followed_url ? log.followed_url.to_formatted_s(:short) : ""
        %td= log.forwarded ? log.forwarded.to_formatted_s(:short) : ""


.row
  = will_paginate @wr_logs
