.row
  %h1 Recipients of #{@email.subject.shorten}
  %br/

.row
  %table.table.table-condensed
    %tr
      %th Recipient
      %th Opened
      %th Liked
    - @wr_logs.each do |log|
      %tr
        %td= link_to log.receiver.name, user_path(log.receiver)
        %td= log.opened ? log.opened.to_formatted_s(:db) : ""
        %td= log.worth_reading ? log.worth_reading.to_formatted_s(:db) : ""

.row
  = will_paginate @wr_logs
